@import "src/scss/modules/variables";

.header {
  height: 100px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  @media (max-width: #{$container}px) {
    height: calc(60px + (100 - 60) * ((100vw - #{$tablet}px) / (#{$container} - #{$tablet})));
  }
  @media (max-width: #{$tablet}px) {
    height: 60px;
  }

  .container {
    flex-grow: 1;
  }

  // .header__nav
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo
  &__logo {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    @media (max-width: #{$tablet}px) {
      font-size: calc(16px + (28 - 16) * ((100vw - #{$end}px) / (#{$tablet} - #{$end})));
    }

    span {
      color: $primary;
    }
  }
}
