@import "src/scss/modules/variables";

.button {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  min-width: 100px;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  &:disabled {
    filter: grayscale(.5);
  }
   @media(min-width:#{$tablet}px){
     transition: transform .4s ease;
       &:hover {
           transform: translateY(-5px);
       }
     }

  &-primary {
    background-color: $primary;

  }

  &-secondary {
    background-color: $add;
  }



}
